body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    font-family: "Ubuntu", Tahoma, sans-serif;
    color: #424242;
    word-wrap: break-word;
    background-color: #fff;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

picture {
    display: block;
}

input,
select {
    display: block;
    width: 100%;
    padding: 0;
    color: #424242;
    outline: none;
}
