.account {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    color: #292a2c;
    cursor: pointer;
}

.account:hover,
.account:focus {
    color: #292a2c;
    text-decoration: none;
}

.account__icon {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.account__icon path {
    transition: all 0.15s ease-in;
}

.account:hover path,
.account:focus path {
    fill: #2591f5;
}

@media screen and (max-width: 992px) {
    .account__icon {
        margin-right: 0;
    }

    .account__text {
        display: none;
    }
}