.button {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    user-select: none;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: normal;
    border: 0;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button--rayen {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    text-transform: none;
    color: #292a2c;
    border: 2px solid #292a2c;
    border-radius: 3px;
    overflow: hidden;
    outline: none;
}

.button--rayen:hover {
    color: #292a2c;
    text-decoration: none;
    border-color: #2591f5;
}

.button--rayen::before,
.button--rayen > span {
    display: block;
    padding: 11px 10px;
    transition: transform 0.3s;
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.button--rayen::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: #2591f5;
    transform: translate3d(-100%, 0, 0);
}

.button--rayen:hover::before {
    transform: translate3d(0, 0, 0);
}

.button--rayen:hover > span {
    transform: translate3d(0, 100%, 0);
}

.button--actions {
    display: block;
    width: 150px;
    padding-top: 11px;
    padding-bottom: 11px;
    font-weight: 500;
    color: #fff;
    background: #f06762;
    background: linear-gradient(0deg, rgba(229,95,84,1) 0%, rgba(247,108,108,1) 100%);
    box-shadow: 0 3px 5px rgba(155, 29, 29, 0.8);
}

.button--actions:hover,
.button--actions:focus {
    color: #fff;
    text-decoration: none;
    background: #c33f3a;
    background: linear-gradient(0deg, rgba(183,56,45,1) 0%, rgba(205,69,69,1) 100%);
    box-shadow: 0 3px 5px rgba(155, 29, 29, 1);
    outline: none;
}

.button--actions[disabled] {
    background: #bebfbf;
    box-shadow: none;
    cursor: not-allowed;
}

.button--actions[disabled]:hover,
.button--actions[disabled]:focus {
    background-color: #b0b0b0;
}
