.cctv {
    padding-top: 80px;
    padding-bottom: 85px;
}

.cctv__info p:last-of-type {
    color: #21428e;
}

.cctv__installation-steps {
    width: 960px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 80px;
    font-size: 24px;
    line-height: 1.25em;
}

.cctv__installation-steps h3 {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
}

.cctv__installation-steps ul {
    @include reset-list;
}

.cctv__installation-steps li {
    position: relative;
    margin-bottom: 24px;
    padding-left: 55px;
}

.cctv__installation-steps li:last-child {
    margin-bottom: 0;
}

.cctv__installation-steps li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 28px;
    height: 28px;
    background: url(../img/base/check-mark.svg) no-repeat 0 0;
    transform: translate(0, -50%);
}

.cctv__lead {
    margin-bottom: 0;
}

.cctv__lead::before {
    width: 68px;
    height: 64px;
    background-image: url("../img/base/cctv-white.svg");
}
