.cellular-enhancement-info {
    padding-top: 80px;
    padding-bottom: 65px;
}

.cellular-enhancement-info__title {
    margin-bottom: 37px;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.3333em;
    text-align: center;
    text-transform: uppercase;
    color: #252526;
}

.cellular-enhancement-info__problems {
    font-size: 24px;
}

.cellular-enhancement-info__problems ul {
    @include reset-list;
    padding-left: 70px;
}

.cellular-enhancement-info__problems li {
    position: relative;
    margin-bottom: 6px;
    padding-left: 35px;
    line-height: 1.2em;
}

.cellular-enhancement-info__problems li:last-child {
    margin-bottom: 0;
}

.cellular-enhancement-info__problems li::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 22px;
    height: 22px;
    background: url("../img/base/close.svg") no-repeat 0 0;
    background-size: contain;
}

.cellular-enhancement-info__explanation {
    padding-right: 70px;
    font-size: 24px;
    line-height: 1.25em;
}

.cellular-enhancement-info__explanation p {
    margin-bottom: 0;
}

.cellular-enhancement-info__lead {
    margin-top: 41px;
    margin-bottom: 75px;
}

.cellular-enhancement-info__lead::before {
    width: 60px;
    height: 99px;
    background: url("../img/base/cellular-enhancement-white.svg") no-repeat 0 0;
    background-size: contain;
}

.cellular-enhancement-info__equipment {
    font-size: 24px;
    line-height: 1.25em;
}

.cellular-enhancement-info__equipment h3 {
    margin-bottom: 34px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.25em;
}

.cellular-enhancement-info__equipment ul {
    @include reset-list;
    margin-left: 100px;
}

.cellular-enhancement-info__equipment li {
    position: relative;
    margin-bottom: 9px;
    padding-left: 55px;
}

.cellular-enhancement-info__equipment li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 28px;
    height: 28px;
    background: url(../img/base/check-mark.svg) no-repeat 0 0;
    transform: translate(0, -50%);
}

@media screen and (max-width: 1260px) {
    .cellular-enhancement-info__problems ul {
        padding-left: 0;
    }

    .cellular-enhancement-info__explanation {
        padding-right: 0;
    }
}

@media screen and (max-width: 992px) {
   .cellular-enhancement-info__explanation {
       padding-top: 20px;
   }

   .cellular-enhancement-info__equipment ul {
       margin-left: 0;
   }
}
