.drawer-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    visibility: hidden;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-property: background-color, visibility;
}

.show-main-nav .drawer-backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    visibility: visible;
}
