.form-extra {

}

.form-extra__list {
    padding: 0;
    list-style: none;
}

.form-extra__item {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 35px;
}

.form-extra__item:last-child {
    margin-bottom: 0;
}

.form-extra__icon {
    width: 50px;
}

.form-extra__icon path {
    transition: fill 0.4s ease;
}

.form-extra__item--focused .form-extra__icon svg {
    fill: #42a1fa;
}

.form-extra__item--invalid .form-extra__icon svg {
    fill: #fb5258;
}

.form-extra__infix {
    position: relative;
    padding: 0.4375em 0;
    font-size: 16px;
    line-height: 1;
    border-top: 0.84375em solid transparent;
}


.form-extra__infix::before,
.form-extra__infix::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
}

.form-extra__infix::before {
    bottom: -1px;
    height: 1px;
    background-color: #aeafaf;
}

.form-extra__item--invalid .form-extra__infix::before {
    background-color: #fb5258;
}

.form-extra__infix::after {
    bottom: -2px;
    height: 2px;
    background-color: #42a1fa;
    transition: background-color 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    transform-origin: 50%;
    transform: scaleX(0.5);
    opacity: 0;
}

.form-extra__item--invalid .form-extra__infix::after {
    background-color: #fb5258;
}

.form-extra__item--focused .form-extra__infix::after {
    opacity: 1;
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),
                opacity 0.1s cubic-bezier(0.25, 0.8, 0.25, 1),
                background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transform: scaleX(1);
}

.form-extra__field {
    caret-color: #42a1fa;
}

.form-extra__label-wrapper {
    position: absolute;
    top: -0.84375em;
    box-sizing: content-box;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 0.84375em;
    line-height: 1.125;
    pointer-events: none;
    overflow: hidden;
}

.form-extra__label {
    position: absolute;
    top: 1.28125em;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #aeafaf;
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
                color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
                width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transform: perspective(100px);
    transform-origin: 0 0;
    pointer-events: none;
    overflow: hidden;
}

.form-extra__item--focused .form-extra__label {
    color: #42a1fa;
}

.form-extra__item--invalid .form-extra__label {
    color: #fb5258;
}

.form-extra__item--should-float .form-extra__label {
    transform: translateY(-1.34375em) scale(.75);
}
