.internet-info {
    padding-top: 80px;
    padding-bottom: 85px;
}

.internet-info__text {
    font-size: 24px;
    line-height: 1.25em;
}

.internet-info__text h2 {
    margin-bottom: 34px;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.3333em;
    text-align: center;
    text-transform: uppercase;
    color: #252526;
}

.internet-info__text p {
    margin-bottom: 29px;
}

.internet-info__text strong {
    font-weight: 500;
    font-size: 30px;
    color: #21428e;
}

.internet-info__text *:first-child {
    margin-top: 0;
}

.internet-info__text *:last-child {
    margin-bottom: 0;
}