.main-footer {
    color: #fff;
    padding: 50px 0;
    background-color: #0b1155;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.no-webp .main-footer,
.no-js .main-footer {
    background-image: url("../img/bg/footer.jpg");
}

.webp .main-footer {
    background-image: url("../img/bg/footer.webp");
}

.main-footer a {
    color: #fff;
}

.main-footer a:hover,
.main-footer a:focus {
    color: #fff;
    text-decoration: none;
}

.main-footer_description {
    line-height: 1.5em;
}

.main-footer_description p {
    margin: 18px 0;
}

.main-footer_description strong {
    font-weight: 700;
}

.main-footer_description *:first-child {
    margin-top: 0;
}

.main-footer_description *:last-child {
    margin-bottom: 0;
}

.main-footer__contacts {
    width: 270px;
    padding-left: 15px;
    padding-right: 30px;
    word-break: break-word;
}

.main-footer__contacts p:first-child {
    margin-bottom: 24px;
}

.main-footer__contacts ul {
    @include reset-list;
}

.main-footer__contacts li {
    margin-bottom: 15px;
}

.main-footer__contacts li:last-child {
    margin-bottom: 0;
}

.main-footer__contacts a {
    position: relative;
    display: inline-block;
    padding-left: 44px;
    cursor: pointer;
}

.main-footer__contacts a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    opacity: 0.7;
    transition: opacity 0.3s ease;
    transform: translate(0, -50%);
}

.main-footer__contacts a:hover::before,
.main-footer__contacts a:focus::before {
    opacity: 1;
}

.main-footer__contacts li:nth-child(1) a::before {
    width: 25px;
    height: 19px;
    background-image: url("../img/base/mail.svg");
}

.main-footer__contacts li:nth-child(2) a::before {
    width: 25px;
    height: 25px;
    background-image: url("../img/base/phone.svg");
}

.main-footer__logo {
    width: 400px;
}

.main-footer__logo-link {
    display: inline-block;
    margin-bottom: 11px;
}

.main-footer__logo-link[href] {
    cursor: pointer;
}

.main-footer__social {
    @include reset-list;
    margin-bottom: 32px;
}

.main-footer__seo-links-desktop {
    margin: 0;
}

.main-footer__seo-links-mobile {
    display: none;
    margin: 0;
}

@media screen and (max-width: 1260px) {
    .main-footer__logo {
        order: 1;
        width: 545px;
        margin-bottom: 40px;
    }

    .main-footer__social {
        margin-bottom: 0;
    }

    .main-footer__contacts {
        order: 2;
        width: 385px;
        margin-bottom: 40px;
        padding-right: 0;
    }

    .main-footer .main-footer__seo-links-desktop {
        display: none;
    }

    .main-footer__seo-links-mobile {
        display: flex;
    }
}

@media screen and (max-width: 992px) {
    .main-footer__logo {
        width: 405px;
    }

    .main-footer__contacts {
        width: 285px;
    }
}

@media screen and (max-width: 768px) {
    .main-footer__logo {
        width: 250px;
    }

    .main-footer__contacts {
        width: 215px;
        padding-left: 0;
    }

    .main-footer_description {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 576px) {
    
}
