.modal-form {

}

.modal-form__list {
    @include reset-list;
    margin-bottom: 41px;
}

.modal-form__item {

}

.modal-form__icon {
    width: 60px;
}

.modal-form__infix {

}

.modal-form__field {
    width: 500px;
    border: none;
}

.modal-form__label-wrapper {

}

.modal-form__label {

}

.modal-form__button {
    margin-left: auto;
}