.modal-form {

}

.modal-form__list {
    margin: 0 0 41px 0;
}

.modal-form__item {

}

.modal-form__icon {

}

.form-extra__item--focused .modal-form__icon svg {
    fill: #42a1fa;
}

.modal-form__infix {

}

.modal-form__infix::after {
    background-color: #42a1fa;
}

.modal-form__field {
    width: 500px;
}

.modal-form__label-wrapper {

}

.modal-form__label {

}

.form-extra__item--focused .modal-form__label {
    color: #42a1fa;
}

.modal-form__button {
    margin-left: auto;
}

@media screen and (max-width: 846px) {
    .modal-form__infix {
        flex-grow: 1;
    }

    .modal-form__icon {
        width: 40px;
    }

    .modal-form__icon svg {
        width: 20px;
    }

    .modal-form__field {
        width: 100%;
    }
}
