.modal-thanks {

}

.modal-thanks .modal-content {
    padding: 50px 24px 60px;
}

.modal-thanks__text {
    margin-bottom: 22px;
    font-size: 20px;
    line-height: 1.5em;
    text-align: center;
}

.modal-thanks__text h2 {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2em;
    color: #21428e;
}

.modal-thanks__text p {
    margin-bottom: 6px;
    font-weight: 300;
    color: #272626;
}

.modal-thanks__text strong {
    font-weight: 400;
    color: #000;
}

.modal-thanks__text *:first-child {
    margin-top: 0;
}

.modal-thanks__text *:last-child {
    margin-bottom: 0;
}

.modal-thanks__img {
    margin: 0 auto;
}

@media (min-width: 976px) {
    .modal-thanks .modal-dialog {
        max-width: 900px;
    }
}

@media screen and (max-width: 1060px) {
    .modal-thanks__close {
        top: -10px;
        right: -41px;
        width: 40px;
        height: 40px;

        &::before,
        &::after {
            width: 30px;
        }
    }
}

@media screen and (max-width: 976px) {
    .modal-thanks__close {
        top: 10px;
        right: 12px;
    }

    .modal-thanks__close::before,
    .modal-thanks__close::after {
        width: 20px;
    }
}

@media screen and (max-width: 576px) {
    .modal-thanks__text {
        font-size: 18px;
    }

    .modal-thanks__img {
        width: 200px;
    }
}