.network {
    padding-top: 80px;
    padding-bottom: 85px;
}

.network__info {
    margin-bottom: 66px;
}

.network__advantages {

}

.network__advantages h3 {
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.25em;
    text-align: center;
}

.network__advantages ul {
    @include reset-list;
}

.network__advantages li {
    position: relative;
    margin-bottom: 30px;
    padding-left: 120px;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.45em;
}

.network__advantages li:last-child {
    margin-bottom: 0;
}

.network__advantages li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    transform: translate(0, -50%);
}

.network__advantages li:nth-child(1)::before {
    width: 59px;
    height: 67px;
    background-image: url("../img/base/network-advantages-icon-1.svg");
}

.network__advantages li:nth-child(2)::before {
    width: 54px;
    height: 54px;
    background-image: url("../img/base/network-advantages-icon-2.svg");
}

.network__advantages li:nth-child(3)::before {
    width: 67px;
    height: 67px;
    background-image: url("../img/base/network-advantages-icon-3.svg");
}

.network__advantages li:nth-child(4)::before {
    width: 60px;
    height: 60px;
    background-image: url("../img/base/network-advantages-icon-4.svg");
}

.network__advantages li:nth-child(5)::before {
    width: 60px;
    height: 60px;
    background-image: url("../img/base/network-advantages-icon-5.svg");
}

.network__advantages strong {
    display: block;
    margin-bottom: 13px;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .network__advantages h3 {
        margin-bottom: 63px;
    }

    .network__advantages li {
        margin-bottom: 60px;
        padding-left: 0;
    }

    .network__advantages li:last-child {
        margin-bottom: 0;
    }

    .network__advantages li::before {
        position: static;
        margin: 0 auto 22px;
        transform: none;
    }
}