.offer-about {
    padding-top: 115px;
    padding-bottom: 105px;
    background-color: #0e0f56;
}

.no-webp .offer-about,
.no-js .offer-about {
    background-image: url("../img/bg/offer-about.jpg");
}

.webp .offer-about {
    background-image: url("../img/bg/offer-about.webp");
}

.offer-about h1 {
    font-weight: 400;
    line-height: 1.2em;
    text-transform: none;
}

@media screen and (max-width: 1260px) {
    .offer-about {
        padding-top: 45px;
    }
}

@media screen and (max-width: 768px) {
    .offer-about br {
        display: none;
    }
}
