.offer-internet {
    padding-top: 160px;
    padding-bottom: 130px;
    background-color: #0b1865;
}

.no-webp .offer-internet,
.no-js .offer-internet {
    background-image: url("../img/bg/offer-internet.jpg");
}

.webp .offer-internet {
    background-image: url("../img/bg/offer-internet.webp");
}

@media screen and (max-width: 1260px) {
    .offer-internet {
        padding-top: 90px;
    }
}
