.offer-internet-vpn {
    padding-top: 130px;
    padding-bottom: 110px;
    background-color: #0b1865;
}

.no-webp .offer-internet-vpn,
.no-js .offer-internet-vpn {
    background-image: url("../img/bg/offer-internet.jpg");
}

.webp .offer-internet-vpn {
    background-image: url("../img/bg/offer-internet.webp");
}

@media screen and (max-width: 1260px) {
    .offer-internet-vpn {
        padding-top: 60px;
    }
}
