.offer-network {
    padding-top: 160px;
    padding-bottom: 125px;
    background-color: #0b1865;
    background-position: center bottom;
    background-size: cover;
}

.no-webp .offer-network,
.no-js .offer-network {
    background-image: url("../img/bg/offer-network.jpg");
}

.webp .offer-network {
    background-image: url("../img/bg/offer-network.webp");
}
