.offer-home {
    position: relative;
    z-index: 1;
    background-color: #030f5d;
}

.no-webp .offer-home,
.no-js .offer-home {
    background-image: url("../img/bg/offer.jpg");
}

.webp .offer-home {
    background-image: url("../img/bg/offer.webp");
}

.offer-home__title-box {
    position: relative;
    z-index: 2;
    min-height: 540px;
}

.offer-home__title-box h1 {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2em;
    text-transform: none;
}

.offer-home__title-box strong {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.3333em;
    text-transform: uppercase;
}

.offer-home__polygon {
    position: absolute;
    z-index: 1;
    top: 22px;
    right: 0;
    pointer-events: none;
}

@media screen and (max-width: 1260px) {
    .offer-home {
        //padding-top: 130px;
    }

    .offer-home__polygon {
        top: 50px;
        right: -135px;
    }

    .offer-home__polygon img {
        max-width: 85%;
    }
}

@media screen and (max-width: 768px) {
    .offer-home__polygon {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .offer-home {
        //padding-top: 110px;
        //padding-bottom: 160px;
    }

    .offer-home__title-box h1 {
        font-size: 24px;
    }

    .offer-home__title-box strong {
        font-size: 27px;
    }
}