.offer-network {
    padding-top: 160px;
    padding-bottom: 130px;
    background-color: #0b1865;
}

.no-webp .offer-network,
.no-js .offer-network {
    background-image: url("../img/bg/offer-network.jpg");
}

.webp .offer-network {
    background-image: url("../img/bg/offer-network.webp");
}

.offer-network {
    padding-top: 90px;
}
