.offer-sms-authorization {
    padding-top: 160px;
    padding-bottom: 130px;
    background-color: #13125f;
}

.no-webp .offer-sms-authorization,
.no-js .offer-sms-authorization {
    background-image: url("../img/bg/offer-sms-authorization.jpg");
}

.webp .offer-sms-authorization {
    background-image: url("../img/bg/offer-sms-authorization.webp");
}

@media screen and (max-width: 1260px) {
    .offer-sms-authorization {
        padding-top: 90px;
    }
}
