.offer-cellular-enhancement {
    background-color: #0b1265;
}

.no-webp .offer-cellular-enhancement,
.no-js .offer-cellular-enhancement {
    background-image: url("../img/bg/offer-cellular-enhancement.jpg");
}

.webp .offer-cellular-enhancement {
    background-image: url("../img/bg/offer-cellular-enhancement.webp");
}
