.offer-internet {
    background-color: #0b1865;
}

.no-webp .offer-internet,
.no-js .offer-internet {
    background-image: url("../img/bg/offer-internet.jpg");
}

.webp .offer-internet {
    background-image: url("../img/bg/offer-internet.webp");
}
