.offer-sms-authorization {
    background-color: #13125f;
}

.no-webp .offer-sms-authorization,
.no-js .offer-sms-authorization {
    background-image: url("../img/bg/offer-sms-authorization.jpg");
}

.webp .offer-sms-authorization {
    background-image: url("../img/bg/offer-sms-authorization.webp");
}
