.offer-vpn {
    background-color: #0b1865;
}

.no-webp .offer-vpn,
.no-js .offer-vpn {
    background-image: url("../img/bg/offer-internet.jpg");
}

.webp .offer-vpn {
    background-image: url("../img/bg/offer-internet.webp");
}
