.request {
    width: 570px;
    padding: 36px 24px 50px;
    background-color: #fbfbfb;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(14, 79, 160, 0.3),
                0 5px 8px rgba(14, 79, 160, 0.3);
}

.no-js .request,
.no-webp .request {
    background-image: url("../img/bg/request.jpg");
}

.webp .request {
    background-image: url("../img/bg/request.webp");
}

.request__title {
    margin-bottom: 25px;
    text-align: center;
    color: #494848;
}

.request__title strong {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.28571em;
    color: #102542;
}

.request__title p {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.5em;
    margin-bottom: 0;
}

.request__form {
    width: 385px;
    margin: 0 auto;
}

.request__list {
    margin-bottom: 55px;
}

.request__item {

}

.request__icon {

}

.request__infix {
    flex-grow: 1;
}

.request__field {

}

.request__label-wrapper {

}

.request__label {

}

.request__button {
    width: 100%;
}

.internet-order__advantages {
    margin-left: 28px;
    font-size: 24px;
    line-height: 1.5em;
    color: #252526;
}

.internet-order__advantages p:first-child {
    margin-bottom: 38px;
    font-weight: 500;
}

.internet-order__advantages ul {
    @include reset-list;
}

.internet-order__advantages li {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
    font-weight: 300;
}

.internet-order__advantages li:last-child {
    margin-bottom: 0;
}

.internet-order__advantages li::before {
    content: '';
    display: block;
    flex-shrink: 0;
    margin-right: 32px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
}

.internet-order__advantages li:nth-child(1)::before {
    width: 43px;
    height: 43px;
    background-image: url("../img/base/internet-order-advantages-icon-1.svg");
}

.internet-order__advantages li:nth-child(2)::before {
    width: 50px;
    height: 50px;
    background-image: url("../img/base/internet-order-advantages-icon-2.svg");
}

.internet-order__advantages li:nth-child(3)::before {
    width: 43px;
    height: 39px;
    background-image: url("../img/base/internet-order-advantages-icon-3.svg");
}

.internet-order__advantages li:nth-child(4)::before {
    width: 43px;
    height: 43px;
    background-image: url("../img/base/internet-order-advantages-icon-4.svg");
}

.internet-order__advantages *:first-child {
    margin-top: 0;
}

.internet-order__advantages *:last-child {
    margin-bottom: 0;
}