.section-title {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.3333em;
    text-align: center;
    text-transform: uppercase;
    color: #252526;
}

@media screen and (max-width: 1260px) {
    .section-title br {
        display: none;
    }
}