.services {
    position: relative;
    z-index: 2;
    margin-top: -60px;
}

.services__list {
    @include reset-list;
    display: flex;
    flex-wrap: wrap;
}

.services__item {
    display: flex;
    margin-right: 2px;
}

.services__item:last-child {
    margin-right: 0;
}

.services__link {
    display: flex;
    flex-direction: column;
    width: 232px;
    padding: 17px 15px 17px;
    color: #fff;
    background-color: #21428e;
    border: 1px solid #21428e;
    cursor: pointer;
    transition: all 0.3s ease;
}

.services__link--two-lines {
    padding-top: 8px;
    padding-bottom: 7px;
}

.services__item:nth-child(5) .services__link {
    width: 234px;
}

.services__link:hover,
.services__link:focus {
    color: #21428e;
    text-decoration: none;
    background-color: #fff;
    border-color: #031462;
}

.services__icon {
    margin-top: auto;
    margin-bottom: 8px;
}

.services__icon--two-lines {
    margin-bottom: 3px;
}

.services__icon svg {
    display: block;
    margin: 0 auto;
}

.services__link:hover svg,
.services__link:focus svg {
    fill: #21428e;
}

.services__icon path,
.services__icon circle {
    transition: all 0.3s ease;
}

.services__name {
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    text-align: center;
}

@media screen and (max-width: 1260px) {
    .services__list {
        width: 466px;
        margin-left: auto;
        margin-right: auto;
    }

    .services__item:nth-child(2n) {
        margin-right: 0;
    }

    .services__item:nth-child(n + 3) {
        margin-top: 2px;
    }

    .services__item:nth-child(5),
    .services__item:nth-child(5) .services__link {
        width: 100%;
    }
}