html.show-main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.show-main-nav body {
    position: relative;
    overflow: hidden;
}
