.sidenav-extra-menu {
    padding: 8px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.sidenav-extra-menu__item {

}

.sidenav-extra-menu__item a {
    padding-left: 56px;
}

.sidenav-extra-menu__item a::before {
    display: none;
}
