.sidenav-list {
    padding: 0;
    list-style: none;
}

.sidenav-list__item {
    
}

.sidenav-list__item a {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #212121;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    opacity: 0.67;
    transition: all 0.3s ease;
}

.sidenav-list__item a:hover,
.sidenav-list__item a:active,
.sidenav-list__item a:focus {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.04);
    opacity: 1;
}

.sidenav-list__item a::before {
    content: "";
    display: block;
    flex-shrink: 0;
    width: 24px;
    height: 100%;
    margin-right: 16px;
    background-repeat: no-repeat;
    background-position: center;
}