.sidenav {
    position: fixed;
    z-index: 5;
    top: 105px;
    bottom: 0;
    left: -310px;
    width: 310px;
    max-height: calc(100% - 105px);
    padding: 8px 0;
    overflow-y: auto;
    background-color: #fff;
    visibility: hidden;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

}

.show-main-nav .sidenav {
    box-shadow: 0 8px 10px -5px rgba(0,0,0,.2),
                0 16px 24px 2px rgba(0,0,0,.14),
                0 6px 30px 5px rgba(0,0,0,.12);
    visibility: visible;
    left: 0;
}

.sidenav__box {

}

.sidenav__list {
    @include reset-list;
}

.sidenav__item {

}

.sidenav__item a {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #212121;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    opacity: 0.67;
    transition: all 0.3s ease;
}

.sidenav__item a:hover,
.sidenav__item a:active,
.sidenav__item a:focus {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.04);
    opacity: 1;
}

.sidenav-services__item--current a {
    color: #0b79d3;
}

.sidenav__item a::before {
    content: "";
    display: block;
    flex-shrink: 0;
    width: 24px;
    height: 100%;
    margin-right: 16px;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 768px) {
    .sidenav {
        top: 62px;
        max-height: calc(100% - 62px);
    }
}




