.sidenav-social {

}

.sidenav-social__item {

}

.sidenav-social__item a {

}

.sidenav-social__item a::before {
    background-size: 24px;
}

.sidenav-social__item--incoming-call a::before {
    background-image: url("../img/base/incoming-call.svg");
    background-size: 20px;
}

.sidenav-social__item--skype a::before {
    background-image: url("../img/base/skype.svg");
}

.sidenav-social__item--whats-app a::before {
    background-image: url("../img/base/whatsapp-no stroke.svg");
}

.sidenav-social__item--viber a::before {
    background-image: url("../img/base/viber.svg");
}

.sidenav-social__item--telegram a::before {
    background-image: url("../img/base/telegram.svg");
}

.sidenav-social__item--gmail a::before {
    background-image: url("../img/base/gmail.svg");
    background-size: 23px;
}
