.sidenav-services {
    margin: 0;
    padding: 0 0 8px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.sidenav-services__item {

}

.sidenav-services__item--phone a {
    background-color: #e3f2fd;
    opacity: 1;
}

.show-main-nav .sidenav-services__item--phone a {
    background-color: rgba(0, 0, 0, 0.04);
    opacity: 0.67;
}

.sidenav-services__item--phone a:hover,
.sidenav-services__item--phone a:active,
.sidenav-services__item--phone a:focus {
    background-color: #e3f2fd;
}

.sidenav-services__item--phone a::before {
    background-image: url("../img/base/phone-working-indicator.svg");
}

.sidenav-services__item--internet a::before {
    background-image: url("../img/base/internet.svg");
}

.sidenav-services__item--network a::before {
    background-image: url("../img/base/network.svg");
}

.sidenav-services__item--sms-authorization a::before {
    background-image: url("../img/base/sms-authorization.svg");
}

.sidenav-services__item--cctv a::before {
    background-image: url("../img/base/cctv.svg");
}

.sidenav-services__item--cellular-enhancement a::before {
    background-image: url("../img/base/cellular-enhancement.svg");
}
