.tariffs {
    padding-top: 105px;
    padding-bottom: 120px;
}

.tariffs__title {
    margin-bottom: 80px;
    text-align: center;
}

.tariffs__title h1 {
    margin-bottom: 45px;
}

.tariffs__title p {
    margin-bottom: 0;
    font-size: 30px;
    line-height: 1.2em;
}

.tariffs__list {
    @include reset-list;
    display: flex;
    flex-wrap: wrap;
}

.tariffs__item {
    margin-right: 30px;
}

.tariffs__item:nth-child(3n) {
    margin-right: 0;
}

.tariffs__item:nth-child(n + 4) {
    margin-top: 30px;
}

.tariffs__item.tariffs__item--animation:nth-child(2),
.tariffs__item.tariffs__item--animation:nth-child(3),
.tariffs__item.tariffs__item--animation:nth-child(5),
.tariffs__item.tariffs__item--animation:nth-child(6) {
    transition: transform 0.8s cubic-bezier(0, 0, 0.2, 1);
}

.tariffs__item:nth-child(1),
.tariffs__item:nth-child(4) {
    z-index: 3;
}

.tariffs__item:nth-child(2),
.tariffs__item:nth-child(5) {
    opacity: 0;
    z-index: 2;
    transform: translate(-400px, 0);
}

.tariffs__item:nth-child(3),
.tariffs__item:nth-child(6) {
    opacity: 0;
    z-index: 1;
    transform: translate(-800px, 0);
}

.tariffs__item:nth-child(2).tariffs__item--animation,
.tariffs__item:nth-child(3).tariffs__item--animation,
.tariffs__item:nth-child(5).tariffs__item--animation,
.tariffs__item:nth-child(6).tariffs__item--animation {
    opacity: 1;
    transform: translate(0, 0);
}