.top-nav {
    position: relative;
    z-index: 6;
    display: flex;
    align-items: center;
    height: 105px;
    background-color: #fff;
    transition: transform 160ms cubic-bezier(0, 0, 0.2, 1);
}

body.scrolled-down .top-nav {
    transition: transform 320ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: translateY(-62px);
}

.top-nav__logo {

}

.top-nav__logo[href] {
    cursor: pointer;
}

.top-nav__hamburger {
    position: relative;
    display: none;
    width: 45px;
    height: 42px;
    margin-right: 25px;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    user-select: none;
}

.top-nav__hamburger:focus {
    outline: none;
}

.top-nav__hamburger span,
.top-nav__hamburger::before,
.top-nav__hamburger::after {
    position: relative;
    display: block;
    width: 25px;
    height: 4px;
    background-color: #292a2c;
    border-radius: 4px;
}

.top-nav__hamburger::before {
    content: '';
    top: 0;
    transition: transform 0.5s, top 0.2s;
}

.top-nav__hamburger::after {
    content: '';
    top: 10px;
    transition: all 0.5s;
    transition-delay: 0.1s;
}

.top-nav__hamburger span {
    top: 5px;
    transition: transform 0.5s, top 0.2s;
    transition-delay: 0.2s, 0s;
}

.show-main-nav .top-nav__hamburger::before {
    top: 9px;
    transform: rotate(135deg);
}

.show-main-nav .top-nav__hamburger::after {
    opacity: 0;
    top: 0;
    transform: rotate(180deg);
}

.show-main-nav .top-nav__hamburger span {
    top: 5px;
    transform: rotate(-135deg);
}

.top-nav__call-order {
    margin-left: auto;
}

.top-nav__call-order svg {
    display: none;
}

.top-nav__account {
    margin-left: 27px;
}

@media (min-width: 576px) and (max-width: 1260px) {
    .top-nav {
        padding: 0 10px;
    }

    .top-nav .container {
        max-width: 100%;
    }
}

@media screen and (max-width: 1260px) {
    .top-nav {
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.14),
                    0 4px 5px 0 rgba(0, 0, 0, 0.098),
                    0 1px 10px 0 rgba(0, 0, 0, 0.084);
    }

    .top-nav__hamburger {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .top-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 62px;
    }

    .top-nav__logo {
        flex-shrink: 0;
    }

    .top-nav__logo img {
        width: 170px;
    }

    .top-nav__call-order {
        padding: 10px;
        border: none;
    }

    .top-nav__call-order::before {
        display: none;
    }

    .top-nav__call-order svg {
        display: block;
    }

    .top-nav__call-order span {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .top-nav__account {
        margin-left: 15px;
    }
}

@media screen and (max-width: 475px) {
    .top-nav [class*='col-']:first-of-type {
        flex: 0 0 67.333333%;
        max-width: 67.333333%;
        padding-right: 0;
    }

    .top-nav [class*='col-']:last-of-type {
        flex: 0 0 32.666667%;
        max-width: 32.666667%;
        padding-left: 0;
    }
}

@media screen and (max-width: 410px) {
    .top-nav__logo img {
        width: 155px;
    }

    .top-nav__hamburger {
        margin-right: 10px;
    }

    .top-nav__account {
        margin-left: 2px;
    }
}

@media screen and (max-width: 340px) {
    .top-nav__logo img {
        width: 135px;
    }

    .top-nav__account {
        margin-left: 0;
    }

    .top-nav [class*='col-']:first-of-type {
        flex: 0 0 65.333333%;
        max-width: 65.333333%;
    }

    .top-nav [class*='col-']:last-of-type {
        flex: 0 0 34.666667%;
        max-width: 34.666667%;
    }
}
