.why-we {
    padding-top: 105px;
    padding-bottom: 110px;
}

.why-we__title {
    margin-bottom: 60px;
}

.why-we__list {

}

.why-we__list ul {
    @include reset-list;

    display: flex;
    flex-wrap: wrap;
}

.why-we__list li {
    position: relative;
    width: 270px;
    margin-right: 30px;
    padding-top: 107px;
    text-align: center;
}

.why-we__list li:last-child {
    margin-right: 0;
}

.why-we__list li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    transform: translate(-50%, 0);
}

.why-we__list li:nth-child(1)::before {
    width: 57px;
    height: 78px;
    background-image: url("../img/base/why-we-icon-1.svg");
}

.why-we__list li:nth-child(2)::before {
    width: 78px;
    height: 78px;
    background-image: url("../img/base/why-we-icon-2.svg");
}

.why-we__list li:nth-child(3)::before {
    width: 78px;
    height: 78px;
    background-image: url("../img/base/why-we-icon-3.svg");
}

.why-we__list li:nth-child(4)::before {
    width: 78px;
    height: 78px;
    background-image: url("../img/base/why-we-icon-4.svg");
}

.why-we__list h3 {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.25em;
    color: #252526;
}

.why-we__list p {
    margin-bottom: 0;
    line-height: 1.33333em;
}

@media screen and (max-width: 1260px) {
    .why-we__list {
        width: 570px;
        margin-left: auto;
        margin-right: auto;
    }

    .why-we__list li:nth-child(2n) {
        margin-right: 0;
    }

    .why-we__list li:nth-child(n + 3) {
        margin-top: 60px;
    }
}

@media screen and (max-width: 768px) {
    .why-we__list {
        width: 100%;
    }

    .why-we__list li {
        width: 240px;
    }
}

@media screen and (max-width: 576px) {
    .why-we__list ul {
        display: block;
    }

    .why-we__list li,
    .why-we__list li:nth-child(2n) {
        width: 270px;
        margin-right: auto;
        margin-left: auto;
    }

    .why-we__list li:nth-child(n + 2) {
        margin-top: 60px;
    }
}